.main-background{
    background-image:url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.container{
    width: 1080px;
    margin: 0 auto;
}
.header{
    height: 59px;
    padding-top: 49px;
    padding-bottom:48px;
}
.Header-link{
    position: relative;
    display: block;
    margin: 0 auto;
    float: left;
    clear: both;
}
.logo{
    clear: both;
    float: left;
    width: 46px;
    height: 44px;
    background-image: url(../img/logo-milan.png)
}
.logo:hover {
    background-image: url(../img/logo-milan-hover.png)
}
.logo-orange{
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    clear: both;
    width: 46px;
    height: 44px;
    visibility: hidden;
}
.Header-link:hover .logo-orange{
    visibility:visible;
}
h2{
    margin-left:61px;}
.main-header{
    display: block;
    width: 109px;
    height: 44px;
    font-family: Roboto ,sans-serif;
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
   
}
.Header-link:hover .main-header {
    color:rgb(242, 101, 34);
    font-family: Roboto, sans-serif;
    font-size: 29px;
}
.header2{
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-size: 18px;
    display: block;
    width: 105px;
    height: 13px;
    margin-left: 1px;
}
.main-conection{
    padding-top: 0px;
    float: right;
    text-align: right;
}
.connection{
    font-family: Roboto,sans-serif;
    color:  #fff;
    font-size: 18px;
}
.main-content{
    text-decoration: none;
    clear: both;
    margin-bottom:57px;
    width: 1080px;
    height: 544px;
    padding: 0;
    float: left;
}
.img-menu {
    text-decoration: none;
    float: left;
    padding-left:0px;
    margin-right: 79px;
    text-align: center;
}
.img-menu:nth-of-type(3n){
    margin-right: 0px;  
}
.img-menu-item{
    margin-bottom: 22px;
}
.qwerty {
    height:200px ;
    width:307px ;
    position: relative;
    overflow: hidden;
}
.menu-links{
    padding-top: 22px;
    padding-bottom: 58px;
    font-family: Roboto, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
}
.tour-info{
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -63px;
    display: inline-block;
    clear: both;
    width: 306.99px;
    height: 63px;
    background:#FF4500;
    transition-duration: 0.6s;
}
.img-menu:hover .tour-info{
    bottom: 0;
    visibility: visible;
    width: 100%;
}
.img-menu:hover .menu-links{
    color: #FF4500;
}
.text{
    text-align: left;
    font-family: Roboto,sans-serif;
    color:  #ffffff;
    font-size: 10px;
    clear: both;
    margin:15px 15px 21px 17px;
}
.price{
    display: inline-block;
    text-align: left;
    font-family: Roboto,sans-serif;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.details{
    float: right;
    font-family: Roboto,sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}    
.footer{
    padding-bottom: 20px;
}
.copyright{
    text-align: center;
    font-family: Roboto, sans-serif;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
