*{
    margin: 0 auto;
    text-decoration: none;
}
.contanier {
    width: 1280px;
    margin: 0 auto;
    margin-top: 50px;
}
.clearfix {
    clear: both;
}
.black_color_header{
    font-family: 'Myriad Pro';
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
.blue_color_header{
    font-family: 'Myriad Pro';
    color:  #4bcaff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
.navbar{
    background-color:  #35444f;
    width: 1280px;
    height: 69px;
    display: inline-block;
}
.navbar_position{
   text-align: center;
}
.navbar-item{
    display: inline-block;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 40px;
    padding-right: 40px;
}
.navbar-item-link{
    font-family: 'Myriad Pro';
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
}
.navbar-item:hover {
  background:#222f3a;
}
.content-img {
    width: 885px;
    height: 529px;
    text-align: center;
    float: right;
    border-style: solid;
    border-color:#32424e;
    border-width:1px;
}
.main-content-img {
    width: 320px;
    height: 381px;
    margin-top: 75px;
    margin-bottom: 70px;
    -moz-transition:  1s ease-out;
    -o-transition:  1s ease-out;
    -webkit-transition:  1s ease-out;
}
.main-content-img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.menu {
    float: left;
    width: 345px;
    height: 440px;
    border-style: solid;
    border-color:#32424e;
    border-width:2px;
}
.menu-item {
    text-align: left;
    margin: 0 auto;
    height: 88px;
    width: 343.90px;

}
.menu-item-link {
    text-decoration: none;
    margin-left: 40px;
    color: #465763;
    height: 87.78px;
    width: 343.90px;
    font-family:'Myriad Pro';
    font-size: 26px;
    font-weight: 400;
    line-height: 88px;
}

.menu-item:hover {
    background: #dcdcdc;
    width: 343.90px;
    height: 88.10px;
}
.menu-item-link:hover {
    color: black;
    padding-left: 60px;
}

.main-content-information {
    display: inline-block;
    width: 885px;
    text-align: left;
    float: right;
    font-family: 'Myriad Pro';
    color:  #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    margin-top: 50px;
}
.last-menu {
    background-color: #b5b8bb;
    width: 1280px;
    height: 70px;
    margin-bottom: 20px;
}
.last-menu-item {
    text-align: left;
    margin-left: 40px;
    display: inline-block;
    margin-top: 22px;

}
.last-menu-item-link {
    font-family: 'Myriad Pro';
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}
.last-menu-item-link:hover {
    color:  #3181a6;
    border-bottom: 1px solid #3181a6;
}
a.Copyright{
    font-family: 'Myriad Pro';
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    float: right;
    margin-top: 22px;
    padding-right: 20px;
}
