*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;

}
a{text-decoration: none;}

header{
    background: rgb(255, 255, 255);
}

.container{
    margin: 0 auto;
    width: 80%;
}
.navbar {

    text-align: center;
    background: rgb(255, 255, 255);
    margin-bottom: 35px;
    margin-top: 32px;
}

.navbar-item {
    display: inline-block;
    margin-right: 60px;
}

.navbar-item-link {
    font-family: sans-serif;
    color:  #16a085;
    font-size: 18px;
    font-weight: 900;
}
.main-content-img{
width: 100%;
}
.main-content {
    text-align: center;
    background:rgb(245, 246, 247);
    margin: 0 auto;

}


.text-content{

padding-top: 52px;
    width: 100%;
}
.main-content-text{
    text-align: center;
    font-family: sans-serif;
    color:  #373737;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 40px;
}
.main-content-information{
    margin-bottom: 34px;
    margin-left:110px;
    margin-right: 110px;
    font-family: sans-serif;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
}

.btn-start {
      margin-bottom:100px;
      display: inline-block;
      font-family: sans-serif;
      color: #ffffff;
      font-weight: 700;
      font-size: 12px;
      text-decoration: none;
      padding: .8em 1em calc(.8em + 3px);
      border-radius: 3px;
      background: rgb(64,199,129);
      box-shadow: 0 -3px rgb(53,167,110) inset;
      transition: 0.2s;
}
.btn-start:hover { background: rgb(53, 167, 110); }
.btn-start:active {
     background: rgb(33,147,90);
     box-shadow: 0 3px rgb(33,147,90) inset;
}
footer{
    margin: 0;
    padding: 0;
    background: rgb(255,255,255);
}
.copyright p{
    background: rgb(255,255,255);
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#ffffff;
    font-family: sans-serif;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    text-align: right;
}

